.legueDetailsHeader{
    background-color:blue;
    color:white;
 }
 
 .details{

    background-color:rgb(26, 26, 88);
    color:white;

 }

 .image img{

    height: 200px;
    width: 200px;


 }

 .all {
    display: flex;
    flex-wrap: wrap;
    width: 300%;
    margin-left: 50px;
    margin-right: 5px;
    text-align: center;
 }

 .details{
    display: flex;
    width: 250%;
    margin-left: 50px;
    margin-right: 5px;
    text-align: center;

 }

 .row{
     top:0;
     display: block;
 }